/* Nathan Bourke - K00243153 - Responsive Web Design*/

@media screen and (min-width: 1250px) {

body {
		box-sizing: border-box;
		padding: 0px;
		margin: 0px;
}


    .wrapper {
        display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 300px 200px;
		grid-template-rows: 500px 4000px 500px;
        background-color: #fff;
        
    }

    .box {
        background-color: #fff;
        color: #fff;
        padding: 20px;
        font-size: 140%;

    }

    .box .box {
        color: #444;
    }

    .header {
        grid-column: 1 / -1;
        background: url(Assets/Header.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
    }
	
	.wnews{
		position: relative;
		left: 18%;
		top: 15%;
		font-size: 1.2em;
	}
	
	.usnews{
		position: relative;
		left: 32%;
		top: 2.4%;
		font-size: 1.2em;
	}
	
	.uknews{
		position: relative;
		left: 46%;
		bottom: 9.9%;
		font-size: 1.2em;
	}
	
	.inews{
		position: relative;
		left: 60%;
		bottom: 22.2%;
		font-size: 1.2em;
	}
	
	.enews{
		position: relative;
		left: 74%;
		bottom: 34.9%;
		font-size: 1.2em;
	}
	
	.search {
		
		font-size: 0.8em;
		position: relative;
		background-color: red;
		right: 0%;
		border-radius: 20px 20px 0px 0px;
		bottom: 200px;
		width: 180px;
		height: 40px;
	}
	
	.search fieldset{
		border: none;
	}
	
	.logo{
		text-align: center;
	}
	
	.logo img{
		width: 400px;
		float: both;
		padding: 40px;
	}
	
	.log {
		position: relative;
		bottom: 200px;
	}
	
	.log img{
		float: right;
		padding: 5px;
	}
	
/*Main Story*/

    .b {
        grid-column: 1 / 5;
        background-color: #fff;
        display: grid;
		grid-gap: 40px;
		grid-template-rows: 500px 30px 1000px 500px 500px;
		padding-left: 90px;
		padding-right: 90px;
    }
	
	.author{
		border-top: 3px solid #555;
		border-bottom: 3px solid #555;
		height: 50px;
		color: #444;
		font-size: 0.8em;
		float: bottom;
	}
	.aut1{
		position: relative;
		left: 160px;
		bottom: 0px;
	}
	
	.aut2{
		position: relative;
		left: 5px;
		bottom: 38px;
	}
	
	.storyImg img{
		padding-right: 20px;
		float: left;
	}
	
	
	.ma{
		background: url(Assets/StoryPic12.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.mb{
		border-top: 7px solid gray;
		overflow: hidden;
		
		}
		
	.mc{
		border-top: 7px solid red;
		overflow: hidden;
		background-color: #eee;
	}
	
	.md{
		
	}
	
	.md img{
		padding: 20px;
		margin: 20px;
	}
	
	.storyImg2{
		font-size: 0.8em;
	}
	
	.author{
		
	}
	
	.ma, .mb, .mc, .md{
		font-size: 110%;
	}
	
	.atitle{
		position: relative;
		bottom: 50px;
		right: 40px;
		font-size: .7em;
		border-radius: 0px 0px 20px 0px;
		color: white;
		height: 50px;
		width: 160px;
		background-color: red;
	}
	
	.atitle p{
		font-size: 140%;
		padding-top: 10px;
		text-align: center;
		}

/*Sidebar*/
    .c {
        grid-column: 5 / -1;
		border-left: 7px solid red;
		padding-top: 100px;
        display: grid;
		grid-gap: 10px;
		grid-template-rows: 600px 600px 600px 600px 600px 600px;
    }
	
	.stitle{
		position: relative;
		bottom: 142px;
		right: 40px;
		font-size: .7em;
		border-radius: 0px 0px 20px 0px;
		color: white;
		height: 50px;
		width: 160px;
		background-color: red;
	}
	
	.stitle p{
		padding-top: 10px;
		text-align: center;
	}
	
	.sa, .sb, .sc, .sd, .se, .sf, .sg{
		background-color: #eee;
		border-top: 7px solid gray;
	}
		
	
/*Footer*/

    .d {
        grid-column: 1 / -1;
        display: grid;
		background-color: #666;
		overflow: hidden;
		border-top: 7px solid red;
    }
	
	.flogo{
		position: relative;
		top: 10%;
		left: 75%;
	}
	
	.fadvert{
		color: #fff;
		position: relative;
		bottom: 80%;
		left: 10%;
	}
	
	.fnewsletter{
		color: #fff;
		position: relative;
		bottom: 50%;
		left: 10%;
	}
	
	.frss{
		color: #fff;
		position: relative;
		bottom: 20%;
		left: 10%;
	}
	
	.fterms{
		color: #fff;
		position: relative;
		bottom: 380%;
		left: 30%;
	}
	
	.fprivacy{
		color: #fff;
		position: relative;
		bottom: 350%;
		left: 30%;
	}
	
	.fbook{
		color: #fff;
		position: relative;
		bottom: 320%;
		left: 30%;
	}
	
	.flogin{
		color: #fff;
		position: relative;
		bottom: 680%;
		left: 50%;
	}
	
	.fcontact{
		color: #fff;
		position: relative;
		bottom: 650%;
		left: 50%;
	}
	
	.fabout{
		color: #fff;
		position: relative;
		bottom: 620%;
		left: 50%;
	}
	
	.fnewsbutton{
		font-size: .8em;
		position: relative;
		right: 0%;
		bottom: 600px;
		left: 70%;
		width: 350px;
		height: 40px;
	}
	
	.fnewsbutton fieldset{
		margin: 0px;
		padding: 10px 10px 20px 30px;
		border-radius: 10px;
		border-color: red;
	}
	
	input[type=button]{
		background-color: red;
		border: none;
		padding: 10px 10px;
		color: white;
		border-radius: 10px;
	}
	
	input[type=text]{
		border: none;
		height: 13px;
		padding: 10px 10px;
		color: white;
		border-radius: 10px;
	}
	
	.fcopyright{
		color: #000;
		position: relative;
		bottom: 600%;
		font-size: .9em;
		left: 5%;
	}
	
	
/*End Footer*/
	
}
	
@media screen and (max-width: 1250px) {

body {
		box-sizing: border-box;
		padding: 0px;
		margin: 0px;
}


    .wrapper {
        display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 300px 200px;
		grid-template-rows: 500px 3000px 1700px 500px;
        background-color: #fff;
        color: #444;
    }

    .box {
        background-color: #fff;
        color: #fff;
        padding: 20px;
        font-size: 150%;

    }

    .box .box {
        
        color: #444;
    }
	
/*header*/

    .header {
        grid-column: 1 / -1;
        background: url(Assets/Header.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
    }
	
	.wnews{
		position: relative;
		left: 2%;
		top: 18%;
		font-size: .8em;
	}
	
	.usnews{
		position: relative;
		left: 22%;
		top: 9.9%;
		font-size: .8em;
	}
	
	.uknews{
		position: relative;
		left: 40%;
		top: 1.8%;
		font-size: .8em;
	}
	
	.inews{
		position: relative;
		left: 59%;
		bottom: 6.5%;
		font-size: .8em;
	}
	
	.enews{
		position: relative;
		left: 79%;
		bottom: 14.9%;
		font-size: .8em;
		
	}
	
	.search {
		
		font-size: 0.8em;
		position: relative;
		background-color: red;
		right: 0%;
		border-radius: 20px 20px 0px 0px;
		bottom: 20px;
		width: 180px;
		height: 40px;
	}
	
	.search fieldset{
		border: none;
	}
	
	.logo {padding: 40px;
		width: 120px;
		}
	
	.log {
		position: relative;
		bottom: 10px;
		}
		
	.log img{
		float: right;
		padding: 5px;
	}
	
/*Mainstory*/

    .b {
        grid-column: 1 / -1;
        background-color: #fff;
        display: grid;
		grid-gap: 40px;
		grid-template-rows: 500px 30px 1000px 500px 1000px;
    }
	
	.storyImg img{
		padding-right: 20px;
		float: left;
	}
	
	.author{
		border-top: 3px solid #555;
		border-bottom: 3px solid #555;
		height: 50px;
		color: #444;
		font-size: 0.8em;
		float: bottom;
	}
	.aut1{
		position: relative;
		left: 160px;
		bottom: 0px;
	}
	
	.aut2{
		position: relative;
		left: 5px;
		bottom: 41px;
	}
	
	.text1 { position: relative;
			top: 50%;
			color: white;}
			
	.atitle{
		position: relative;
		top: -50px;
		right: 40px;
		font-size: .7em;
		border-radius: 0px 0px 20px 0px;
		color: white;
		height: 50px;
		width: 160px;
		background-color: red;
	}
	
	.atitle p{
		padding-top: 10px;
		text-align: center;
		font-size: 140%;
		}
	
	.ma, .mb, .mc, .md{
		font-size: 110%;
	}
	
	.ma{
		background: url(Assets/StoryPic12.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		
	}
	
	.mb, .mc, .md{
		overflow: hidden;
		}
	
	.mc{
		border-top: 7px solid red;
		background-color: #eee;
		overflow: hidden;
	}

/*Sidebar*/

    .c {
        grid-column: 1 / -1;
		grid-row: 3 / 4;
		border-left: 0px solid red;
		border-top: 7px solid red;
		padding-top: 100px;
        display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		overflow: hidden;
		
    }
	
	.stitle{
		position: relative;
		bottom: 156px;
		right: 40px;
		font-size: .7em;
		border-radius: 0px 0px 20px 0px;
		color: white;
		height: 50px;
		width: 160px;
		background-color: red;
	}
	
	.stitle p{
		padding-top: 10px;
		text-align: center;
		}
		
	.atitle{
		position: relative;
		bottom: 200px;
		right: 40px;
		font-size: .7em;
		border-radius: 0px 0px 20px 0px;
		color: white;
		height: 50px;
		width: 160px;
		background-color: red;
	}
	
	.atitle p{
		padding-top: 10px;
		text-align: center;
		}
		
	.sa, .sb, .sc, .sd, .se, .sf, .sg{
		background-color: #eee;
		border-top: 7px solid gray;
	}

	.storyImg2{
		font-size: 0.8em;
	}
	
	/*Footer*/
	
    .d {
        grid-column: 1 / -1;
        display: grid;
		background-color: #666;
		overflow: hidden;
		border-top: 7px solid red;
    }
	
	.flogo{
		position: relative;
		top: 10%;
		left: 50%;
	}
	
	.flogo img{
		height: 100px;
		width: 200px;
	}
	
	
	.fadvert{
		font-size: .8em;
		color: #fff;
		position: relative;
		bottom: 80%;
		left: 1%;
	}
	
	.fnewsletter{
		font-size: .8em;
		color: #fff;
		position: relative;
		bottom: 50%;
		left: 1%;
	}
	
	.frss{
		font-size: .8em;
		color: #fff;
		position: relative;
		bottom: 20%;
		left: 1%;
	}
	
	.fterms{
		font-size: .8em;
		color: #fff;
		position: relative;
		bottom: 380%;
		left: 20%;
	}
	
	.fprivacy{
		font-size: .8em;
		color: #fff;
		position: relative;
		bottom: 350%;
		left: 20%;
	}
	
	.fbook{
		font-size: .8em;
		color: #fff;
		position: relative;
		bottom: 320%;
		left: 20%;
	}
	
	.flogin{
		font-size: .8em;
		color: #fff;
		position: relative;
		bottom: 680%;
		left: 35%;
	}
	
	.fcontact{
		font-size: .8em;
		color: #fff;
		position: relative;
		bottom: 650%;
		left: 35%;
	}
	
	.fabout{
		font-size: .8em;
		color: #fff;
		position: relative;
		bottom: 620%;
		left: 35%;
	}
	
	.fnewsbutton{
		font-size: .8em;
		position: relative;
		right: 0%;
		bottom: 1000%;
		right: 0%;
		width: 350px;
		height: 40px;
	}
	
	.fnewsbutton fieldset{
		margin: 0px;
		padding: 10px 10px 20px 30px;
		border-radius: 10px;
		border-color: red;
	}
	
	input[type=button]{
		background-color: red;
		border: none;
		padding: 10px 10px;
		color: white;
		border-radius: 10px;
	}
	
	input[type=text]{
		border: none;
		height: 13px;
		padding: 10px 10px;
		color: white;
		border-radius: 10px;
	}
	
	.fcopyright{
		color: #000;
		position: relative;
		bottom: 430%;
		font-size: .7em;
		left: 5%;
	}
	
	
/*End Footer*/
	
	
}

@media screen and (max-width: 900px){
	
	.c {
        grid-column: 1 / -1;
		grid-row: 3 / 4;
		border-left: 0px solid red;
		border-top: 7px solid red;
		padding-top: 100px;
        display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		overflow: hidden;
	}
	
	 .wrapper {
        display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 300px 200px;
		grid-template-rows: 500px 3000px 1fr 1000px;
        
        color: #444;
    }
	
}